ASPNETCORE_ENVIRONMENT=Local
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=ValePedagio;Username=postgres;Password=postgres
ValePedagio__AutoApplyMigrations=true
Cors__AllowedOrigins=http://localhost:4200
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
